#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/fakerqtter/maupassant-hexo')  Theme Diy 
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/fakerqtter')  fakerqtter.
  - var icpConf = config.icp || theme.icp
  if icpConf
    a(rel='nofollow', target='_blank', href='https://beian.miit.gov.cn/')=  icpConf
